* {
  margin: 0;
  padding: 0;
}

// variabel
$primary: #22577a;
$biru: blue;
$secondary: #38a3a5;

html {
  height: 100%;
  body {
    height: 100%;
    // background: linear-gradient(to right, $primary, $secondary);
    background: linear-gradient($primary, $secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      position: absolute;
      top: 130px;
      font-size: 50px;
      color: white;
      font-family: "script mt";
    }
    .box-login {
      width: 300px;
      box-sizing: border-box;
      background-color: white;
      padding: 10px;
      box-shadow: 0 0 10px #ccc;
      h2 {
        color: #22577a;
        text-align: center;
        font-size: 30px;
      }
      ul {
        li {
          list-style: none;
          color: black;
          padding-top: 5px;
          .fa {
            color: #22577a;
          }
          label {
            display: inline-block;
            margin-left: 7px;
          }
          input {
            width: 95%;
            border: none;
            border-bottom: 1px solid rgb(95, 95, 95);
            outline: none;
            background-color: transparent;
            color: black;
            padding: 5px 3px;
            letter-spacing: 0.8px;
          }
          &.tombol {
            margin: 10px 0;
          }
          button {
            display: inline-block;
            width: 100%;
            font-family: "time new roman";
            font-size: 17px;
            background-color: transparent;
            color: black;
            border-radius: 5px;
            padding: 10px 0;
            border: 3px solid #22577a;
            transition: 0.5s;
            &:hover {
              cursor: pointer;
              background-color: #38a3a5;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
